{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign-up
{% endblock %}

{% block content %}
<div class="container">
<form method="POST" action="/signup">
    <dl>
    {{ form.hidden_tag() }}
     
    {{ wtf.form_field(form.Firstname) }}
     
    {{  wtf.form_field(form.Lastname) }}
     
    {{  wtf.form_field(form.Age) }}
     
    {{  wtf.form_field(form.Grade) }}
    
    {{  wtf.form_field(form.School) }}
    
    
    {{  wtf.form_field(form.Password) }}
    <input type="submit" value="Signup">
    </dl>
</form>
</div>
{% endblock %}
